<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CpuMonRcv.Properties.Settings.ProcessUsageConnectionString"
            connectionString="data source=D:\C-Source\Active\ProcessorUsage\CpuMonRcv\bin\Debug\ProcessUsage.sdb"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>